@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #a2e5d2, #63b397);
    padding: 0px;
    margin: 0px;
}
main
{
 margin-top: 30px;
 margin-bottom: 10px;

}
.textop{
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: 500px;
}
h1
{
    text-align: center;
    color: #2c2321;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
h2{
    color: #9dab34;
}
p{
    text-align: justify;
}
footer{
    
    color: white;
    background-color: #2c2321;
    text-align: center;
    border-radius: 10px;
    padding: 5px;

    
    
}
a{
    color: white;
    text-decoration: none;
}
.footer{
    margin: auto;
    width: 520px;
}
a:hover{
    color: #63b397;
}
